{% extends 'pages/base.html' %}
{% block title %}完善个人信息{% endblock %}
{% block content %}
    <div>
        <form action="/users" method="POST" class="col-md-4 col-md-offset-4"
              data-need_bind_qywx="{{ need_bind_qywx }}">
            <input hidden name="csrf_token" value="{{ csrf_token() }}">
            <h2 class="align-center">完善个人信息</h2>
            <div class="form-group">
                <label for="mobile-input">手机号</label>
                <input type="number" name="mobile" class="form-control" id="mobile-input" placeholder="手机号">
            </div>
            <div class="form-group">
                <label for="email-input">邮箱</label>
                <input type="email" name="email" class="form-control" id="email-input" placeholder="邮箱">
            </div>
            <div class="form-group">
                <label for="mobile-input">昵称</label>
                <input type="text" name="username" class="form-control" id="name-input" placeholder="昵称">
            </div>
            <div class="form-group">
                <label for="captcha-input">图形验证码</label>
                <div class="clearfix">
                    <div class="col-md-10" style="padding-left: 0">
                        <input type="text" name="captcha" class="form-control" id="captcha-input" placeholder="图形验证码">
                    </div>
                    <div class="col-md-2" style="padding-right: 0;">
                        <img id="captcha-image" src="{{ img }}" alt="图形验证码" style="width:66px;height:36px;float: right;">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="verification-code-input">短信验证码</label>
                <div class="clearfix">
                    <div class="col-md-10" style="padding-left: 0">
                        <input type="number" name="verification_code" class="form-control" id="verification-code-input"
                               placeholder="短信验证码">
                    </div>
                    <div id="verification-code-action" class="col-md-2">获取验证码</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">保存</button>
        </form>

    </div>

    <script>

            $('#captcha-image').click(function () {
                $.get('/v1/captcha/', function (data) {
                     $('#captcha-image')[0].src = $('#captcha-image')[0].src.split("?")[0]+'?'+new Date().getTime();
               })
            });

            $('#verification-code-action').click(function () {
                $.ajax({
                    url: '/v1/verification_code',
                    type: 'post',
                    headers: {
                        "X-CSRFToken": '{{ csrf_token() }}'
                    },
                    data: JSON.stringify({
                        "mobile": $('[name=mobile]').val() || null,
                        "captcha": $('[name=captcha]').val() || null,
                        "email": $('[name=email]').val() || null,
                        "csrf_token": '{{ csrf_token() }}' || null
                    }),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.code === 0) {
                            alert('验证码获取成功, 验证码为：'+result.data);
                        } else {
                            alert(result.message);
                        }
                    }
                });
        });
    </script>
{% endblock %}